*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #95cfef; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    /* #95cfef */

}

/* header */
header{
    display: flex;
    justify-content: center;
    background-color:#95cfef ;
    width: 100%;
    /* width: 100%; */

}

header .logo{
    font-size: 10vw;
    font-weight: 900;
}

header .preco{
    display: none;
}

.fcontent{
    position: relative;
}

/* .background-section{
    position: absolute;
    height: 100%; 
    width: 100%;
    z-index: 1;

    background-image: url('Images/blueback.png');
    background-size: cover; 
    background-position: center center;
} */

.fcontent img{
    width: 100vw;
    /* z-index: 0; */
}

.fcontent .txt{
    position: absolute;
    top: 40%;
    left: 5%;
}

.fcontent .txt h1{
    color: white;
    font-size: 10vw;
}

.fcontent .txt h1 span.gradient{
    background: -webkit-linear-gradient(#eee, #95CFEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fcontent .txt p{
    color: white;
    font-size: 5vw;
}

/*  */

.qualities{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    
}

.qualities img{
    width: 85vw;
}

.quality{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1;
}

.quality p{
    font-size: 4vw;
}

.quality .txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 85vw;

}

.quality .txt h2{
    font-size: 10vw;
    font-weight: 700;
} 

.bottom{
    background-color: black;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}


/*  */

.precommander{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #95cfef;
    margin: 5% 2%;
    width: 85vw;
    /* padding: 2%;   */
    border-radius: 5px;
    gap: 10px;
    /* padding 2% elargit la taille du bloc */
}

.precommander .chiffres{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 5% 2% 2% 2%;;

}

.precommander .chiffres p{
    display: flex;
    align-items: center;
    font-size: 4vw;
}
/* Fonctionne pas... */

.precommander .chiffres span{
    font-size: 10vw;
    font-weight: 900;
}

.precommander  h2{
    font-weight: 900;
    font-size: 10vw;
}

.precommander h2 span.vous{
    color: white;
    text-decoration: underline;
}
.precommander .precom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 3%;
}
.preco{
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 70vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 4vh;
}

.precommander .precom p{
    font-size: 2vw;
    max-width: 70vw;

}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #95cfef;
    margin: 5% 2%;
    width: 85vw;
    /* padding: 2%; */
    border-radius: 5px;
    gap: 10px;
}

.form h2{
    display: flex;
    align-self: start;
    margin: 9%;
    font-size: 5vw;
}

.form input{
    width: 70vw;
    border-radius: 5px;
}

.form .forms{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form .form-example{
    display: flex;
    justify-content: space-between;
}

.form .conditions{
    display: flex;
    gap: 10px;
    align-items: center;

}

.form .conditions p{
    font-size: 4vw;
}

/* .form .conditions .case{
    width: 2vw;
    height: 1vh;
    border: 2px solid black;
} */

.form span.preco{
    margin: 5%;
}

.footer{
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 20px;

}

.footer ul.legal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    
    list-style-type: none;
}

.footer ul.legal li{
    font-size: 3vw;
    font-weight: 700;
    
}

.footer ul.legal li a{
    text-decoration: none;
    color: black;

}



.footer .infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .infos .reseaux{
    display: flex;
    gap: 10px;
}
.footer .infos .reseaux img{
    width: 5vw;
}

.footer .infos h2{
    font-size: 4vw;
    font-weight: 900;
}

.footer .infos p{
    font-size: 2vw;
}

@media (min-width: 900px) { 

    .quality.un{
        flex-direction: row;
        margin: 5% 5%;
    }
    .quality.deux{
        flex-direction: row-reverse;
        margin: 5% 5%;
    }

    .qualities img{
        width: 40vw;

    }
}
