@font-face {
    font-family: Anton;
    src: url(fonts/Anton-Regular.ttf);
}

@font-face {
    font-family: PTSans;
    src: url(fonts/PTSans-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}



*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth; 
}

body{
    
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    /* #95cfef */
}

p, a{
    font-family: Roboto;
    text-decoration: none;
}

h1, h2, h3, span{
    font-family: Anton;
}

/* header */
header{
    display: flex;
    justify-content: center;
    background-color: black;
    border-bottom: solid 1px white;
    width: 100vw;
    align-items: center;
    /* width: 100%; */
    overflow: hidden;

}

header .logo{
    font-size: 5vw;
    font-weight: 900;
    color: white;
}

/* header .preco{
    display: none;
} */

.fcontent{
    position: relative;
    display: flex;
}

/* .background-section{
    position: absolute;
    height: 100%; 
    width: 100%;
    z-index: 1;

    background-image: url('Images/blueback.png');
    background-size: cover; 
    background-position: center center;
} */

.fcontent img{
    width: 100vw;
    /* z-index: 0; */
}

.fcontent .txt{
    position: absolute;
    top: 40%;
    left: 5%;
    max-width: 85vw;
}

.fcontent .txt h1{
    color: white;
    font-size: 10vw;
}

.fcontent .txt h1 span.gradient{
    background: -webkit-linear-gradient(#eee, #95CFEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: #95cfef; */
}

.fcontent .txt p{
    color: white;
    font-size: 5vw;
}

/*  */

.mid{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient( black 18%,#95cfef 65%, black);
}

.qualities{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    
}

.qualities img{
    width: 85vw;
}

.quality{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    z-index: 1;
}

.quality p{
    font-size: 5vw;
    /* 3 en grd tailles */
}

.quality .txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 85vw;

}

.quality .txt h2{
    font-size: 10vw;
    /* 5vw */
    font-weight: 700;
} 



/* ... */
.qualities .resistance h2{
    color: #b7ab9e !important;
}

.resistance .txt p{
    color: #cd855d;
}


.confort .txt h2{
    color: #ef86fb;
}

.confort .txt p{
    color: #f7d6ff;
}

.fluidite .txt h2{
    color: #495979;

}
.fluidite .txt p{
    color: #171d28;
}


.bottom{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient( black, #89bedc);
}

/*  */

button.preco{
    /* font-family: Anton; */
    font-family: 'Roboto';
}

.preco:hover{
    /* background: linear-gradient(to top, #ef86fb 70%, white ); */
    background: #313131;

}

.precommander{
    background: rgb(235,248,255);
    background: linear-gradient(346deg, rgba(235,248,255,1) 0%, rgba(149,207,239,1) 36%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 5% 2%; */
    margin: 5% 2% 2% 2%;
    width: 85vw;
    /* padding: 2%;   */
    border-radius: 5px;
    gap: 10px;
    /* padding 2% elargit la taille du bloc */
}
/* box-shadow: -4px 8px 16px 5px #000000; */

.precommander .chiffres{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 5% 2% 2% 2%;;

}

.precommander .chiffres p{
    display: flex;
    align-items: center;
    font-size: 4vw;
}
/* Fonctionne pas... */

.precommander .chiffres span{
    font-size: 10vw;
    font-weight: 900;
}

.precommander  h2{
    font-weight: 900;
    font-size: 10vw;
}

.precommander h2 span.vous{
    color: white;
    text-decoration: underline;
}
.precommander .precom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 3%;
}
.preco{
    color: white;
    background-color: black;
    border-radius: 15px;
    width: 70vw;
    /* height: 8vh; */
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 4vh;
}

.precommander .precom p{
    font-size: 2vw;
    max-width: 70vw;

}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(235,248,255,1) 0%, rgba(149,207,239,1) 36%);
    /* margin: 5% 2%; */
    margin: 2% 2% 5% 2%;
    width: 85vw;
    /* padding: 2%; */
    border-radius: 5px;
    gap: 10px;
}

.form h2{
    display: flex;
    align-self: start;
    margin: 9%;
    font-size: 5vw;
}

.form input.infos{
    width: 70vw;
    border-radius: 5px;
}

.form .forms{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form .form-example{
    display: flex;
    justify-content: space-between;
}

.form .conditions{
    display: flex;
    gap: 10px;
    align-self: start;

}

.form .conditions p{
    font-size: 4vw;
}

/* .form .conditions .case{
    width: 2vw;
    height: 1vh;
    border: 2px solid black;
} */

.form span.preco{
    margin: 5%;
}

.footer{
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 20px;
    background: #95cfef;
}

.footer ul.legal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    
    list-style-type: none;
}

.footer ul.legal li{
    font-size: 3vw;
    font-weight: 700;
    
}

.footer ul.legal li a{
    text-decoration: none;
    color: black;

}



.footer .infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .infos .reseaux{
    display: flex;
    gap: 10px;
}
.footer .infos .reseaux img{
    width: 5vw;
}

.footer .infos h2{
    font-size: 4vw;
    font-weight: 900;
}

.footer .infos p{
    font-size: 2vw;
}


/* @media (max-width: 900px) {
    header .preco1 {
        display: none;
    }
} */


@media (min-width: 900px) { 

    .quality.un{
        flex-direction: row;
        margin: 5% 5% 2% 5%;
    }
    .quality.deux{
        flex-direction: row-reverse;
        margin: 5% 5% 2% 5%;
    }

    .qualities img{
        width: 30vw;

    }

    .mid{
        background: linear-gradient( black 18%,#95cfef 55%, black);
    }

    body{
        background: linear-gradient( black 22%,#95cfef, black);
    }

    .bottom{
        background: linear-gradient( #000000, #283840);
    }

    .qualities{
        gap: 0px;
    }
       
    .quality .txt h2 {
        font-size: 6vw;
    }

    .quality p {
        font-size: 2vw;
    }

    .quality .txt {
        max-width: 40vw;
    }

    .qualities{
        margin-top: 0;
        margin-bottom: 0;
    }

    .precommander{
        width: 40vw;
        padding: 3%;
    }

    .precommander .chiffres span {
        font-size: 6vw;
        color: white;
    }

    .precommander .chiffres p {
        font-size: 2vw;
    }

    .precommander h2 {
        font-size: 7vw;
    }

    .precommander .precom p {
        font-size: 1vw;
        max-width: 40vw;
    }

    .form {
        width: 40vw;
        padding: 3%;
    }

    .form h2 {
        margin: 0;
    }
    .form .forms{
        display: flex;
        flex-direction: row;
        max-width: 45vw;
        flex-wrap: wrap;
        gap: 2%;
    }

    .form input.infos {
        width: 18vw;
        border-radius: 5px;
        margin: 5%;
        height: 4vh;
    }

    .form h2{
        font-size: 4vw;
    }

    .preco {
        width: 40vw;
    }

    .form .conditions p {
        font-size: 2vw;
    }

    header{
        justify-content: space-between;
    }

    header .logo{
        margin: 0% 2% 0% 2%;
        font-size: 3vw;
    }

    header button.preco{
        margin: 0% 2% 0% 2%;
    }

    header .preco{
        width: 20vw;
    }

    
}
